/** @format */

@use '../../../../styles/variables';

.tentative-main {
	padding: 42px 32px 105px 32px;

	@media screen and (max-width: variables.$phone-width) {
		padding: 42px 20px 76px 20px;
		// min-height: 100vh;
		box-sizing: border-box;
	}

	.tentative-title {
		text-align: center;
		text-transform: uppercase;
		font-weight: 600;
		font-size: 24px;
		line-height: 24px;
		color: rgb(120, 94, 93);
		font-family: 'EB Garamond', serif;
	}

	.tentative-activities {
		font-family: 'EB Garamond', serif;
		.activity-content {
			padding: 0px 6px;
		}

		.yes_activity {
			display: flex;
			flex-direction: row;

			.date {
				flex: 2;
				display: flex;
				justify-content: flex-end;
				margin-top: 15px;
				font-size: 13px;
				line-height: 20px;
				color: rgba(152, 162, 179, 1);
			}

			.activity_detail {
				flex: 5;
				padding-left: 20px;
				padding-bottom: 20px;
				border-left: 2px solid rgba(241, 191, 190, 1);

				&::before {
					content: '';
					display: block;
					width: 15px;
					height: 15px;
					border-radius: 50%;
					background-color: rgba(241, 191, 190, 1);
					transform: translateX(-28.4px) translateY(-1px);
				}

				.activity_title {
					font-size: 14px;
					line-height: 20px;
					font-weight: 500;
					margin-bottom: 5px;
				}

				.activity_description {
					text-overflow: ellipsis;
					overflow: hidden;
					white-space: pre-wrap;
					font-size: 14px;
					line-height: 20px;
					font-weight: 400;
				}
			}
		}
	}
}
