/** @format */
@use '../../../../styles/variables';
@use '../../../../styles/container';

// .calendar-main {
// 	padding: 42px 32px 105px 32px;

// 	@media screen and (max-width: variables.$phone-width) {
// 		padding: 42px 0px 76px 0px;
// 		// min-height: 100vh;
// 		box-sizing: border-box;
// 		overflow-x: hidden;

// 		.calendar-top {
// 			padding: 0px 20px;
// 		}
// 	}

// 	.calendar-title {
// 		text-align: center;
// 		text-transform: uppercase;
// 		font-weight: 600;
// 		font-size: 24px;
// 		line-height: 24px;
// 		font-family: 'EB Garamond', serif;
// 	}

// 	.calendar-details {
// 		margin-top: 20px;
// 	}
// }

.calendar-main {
	padding: 42px 32px 105px 32px;

	@media screen and (max-width: variables.$phone-width) {
		padding: 42px 20px 76px 20px;
		box-sizing: border-box;
		overflow-x: hidden;

		.calendar-top {
			padding: 0px 20px;
		}
	}

	.calendar-title {
		text-align: center;
		text-transform: uppercase;
		font-weight: 600;
		font-size: 24px;
		line-height: 24px;
	}

	.calendar-details {
		margin-top: 20px;
	}
}

.add-to-calendar {
	width: min(400px, 100%);
	text-align: center;
	padding: 12px;
	box-sizing: border-box;
	text-transform: uppercase;
	border-radius: 25px;
	cursor: pointer;
	font-family: 'EB Garamond', serif;
}

.date-picker {
	background-color: none;
}

.MuiPickersStaticWrapper-root {
	background-color: none;
}

.calendar-accordian-container {
	@include container.accordianContainer();
}
