/** @format */

@use '../../../../styles/variables';
@use '../../../../styles/textStyle';

$color-darkGrey: #1d4648;
$color-grey400: #98a2b3;
$color-diorGrey: #1e1e1e;
$color-nude: #f1bfbe;
$color-nude-txt: #6f5858;
$color-nude-bg: #f1bfbe2e;
$color-emerald: #173729;

// .event-details {
// 	padding: 80px 24px 100px 24px;
// 	display: flex;
// 	align-items: center;
// 	justify-content: center;

// 	.event-details-content-container {
// 		width: min(400px, 100%);
// 	}

// 	@media screen and (max-width: variables.$phone-width) {
// 		// padding: 32px 20px 76px 20px;
// 		// min-height: 100vh;
// 		box-sizing: border-box;
// 	}

// 	.event-detail-container {
// 		margin-top: 24px;

// 		.event-date,
// 		.event-time,
// 		.event-location,
// 		.event-theme {
// 			padding: 18px 0px;
// 			font-weight: 500;
// 			text-transform: uppercase;
// 			font-size: 14px;
// 			line-height: 20px;
// 			font-family: 'EB Garamond', serif;
// 		}

// 		.event-location-buttons {
// 			display: flex;
// 			align-items: center;
// 			gap: 8px;
// 			margin-top: 12px;

// 			.waze-button,
// 			.googleMap-button {
// 				flex: 1;
// 				border: 1px solid rgba(208, 213, 221, 1);
// 				display: flex;
// 				align-items: center;
// 				justify-content: center;
// 				padding: 8px;
// 				border-radius: 100px;
// 				cursor: pointer;
// 				background-color: white;
// 			}
// 		}
// 	}
// }

.event-details {
	padding: 36px 32px 36px 32px;
	width: 100%;

	@media screen and (max-width: variables.$phone-width) {
		padding: 36px 20px 36px 20px;
		box-sizing: border-box;
	}

	.event-detail-container {
		margin-top: 24px;

		.event-date,
		.event-time,
		.event-location,
		.event-theme {
			padding: 18px 0px;
			text-transform: uppercase;
			@include textStyle.ebGaramondMedium(14px, 20px);
			letter-spacing: 0.025em;
		}
	}
}

.event-details-minimal {
	padding: 36px 32px 36px 32px;
	background-color: rgba(252, 247, 247, 1) !important;

	@media screen and (max-width: variables.$phone-width) {
		padding: 36px 20px 36px 20px;
		box-sizing: border-box;
	}

	.event-detail-container {
		flex: 1;
		padding: 24px 0px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		gap: 16px;
		@include textStyle.ebGaramondMedium(14px, 20px);
		letter-spacing: 0.025em;
		text-transform: uppercase;
	}

	.event-theme {
		.theme-desc {
			line-height: 30px;
		}
	}
}

.event-location-buttons {
	display: flex;
	align-items: center;
	gap: 8px;
	margin-top: 12px;
	width: 100%;
	flex: 1;

	.waze-button,
	.googleMap-button {
		flex: 1;
		border: 1px solid rgba(208, 213, 221, 1);
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 12px 8px;
		border-radius: 100px;
		cursor: pointer;
		background-color: white;
	}
}
