/** @format */

@use '../../../../styles/variables';

$color-darkGrey: #1d4648;
$color-grey400: #98a2b3;
$color-diorGrey: #1e1e1e;
$color-nude: #f1bfbe;
$color-nude-txt: #6f5858;
$color-nude-bg: #f1bfbe2e;
$color-emerald: #173729;

.event-details {
	padding: 80px 24px 100px 24px;
	display: flex;
	align-items: center;
	justify-content: center;

	.event-details-content-container {
		width: min(400px, 100%);
	}

	@media screen and (max-width: variables.$phone-width) {
		// padding: 32px 20px 76px 20px;
		// min-height: 100vh;
		box-sizing: border-box;
	}

	.event-detail-container {
		margin-top: 24px;

		.event-date,
		.event-time,
		.event-location,
		.event-theme {
			padding: 18px 0px;
			font-weight: 500;
			text-transform: uppercase;
			font-size: 14px;
			line-height: 20px;
			font-family: 'EB Garamond', serif;
		}

		.event-location-buttons {
			display: flex;
			align-items: center;
			gap: 8px;
			margin-top: 12px;

			.waze-button,
			.googleMap-button {
				flex: 1;
				border: 1px solid rgba(208, 213, 221, 1);
				display: flex;
				align-items: center;
				justify-content: center;
				padding: 8px;
				border-radius: 100px;
				cursor: pointer;
				background-color: white;
			}
		}
	}
}
