/** @format */

@use '../../../../styles/variables';
@use '../../../../styles/textStyle';

$color-darkGrey: #1d4648;
$color-grey400: #98a2b3;
$color-diorGrey: #1e1e1e;
$color-nude: #f1bfbe;
$color-nude-txt: #6f5858;
$color-nude-bg: #f1bfbe2e;
$color-emerald: #173729;

.greeting-screen {
	padding: 32px 32px 105px 32px;

	@media screen and (max-width: variables.$phone-width) {
		padding: 32px 20px 46px 20px;
		min-height: 85vh;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.event-hosts-section {
		text-align: center;
		text-transform: uppercase;
		letter-spacing: 0.025em;
		padding: 8px 0px;
		@include textStyle.ebGaramondMedium(14px, 20px);
	}

	.edit-event-hosts {
		font-size: 14px;
		line-height: 20px;
		letter-spacing: 0.025em;
		border: none;
		text-align: center;
		text-transform: uppercase;
		width: 100%;
		font-family: 'EB Garamond', serif;
	}

	.greeting-section {
		padding: 24px 0px;
		display: flex;
		flex-direction: column;
		gap: 20px;
		text-align: center;

		.greeting-salutation {
			@include textStyle.ebGaramond(16px, 20px);
			letter-spacing: 0.025em;
		}

		.greeting-guest {
			@include textStyle.ebGaramondSemiBold(18px, 32px);
			letter-spacing: 0.01em;
			padding-bottom: 8px;
		}

		.greeting-public {
			@include textStyle.playfairMedium(14px, 21px);
			letter-spacing: 0.01em;
			color: $color-diorGrey;
		}
	}

	.event-title-section {
		display: flex;
		flex-direction: column;
		gap: 16px;
		justify-content: center;
		align-items: center;
		text-transform: uppercase;
		text-align: center;
		padding: 0px 8px;
		margin: 8px 0px;
		@include textStyle.ebGaramondMedium(20px, 32px);
		letter-spacing: 0.01em;
	}

	.event-action-buttons {
		display: flex;
		flex-direction: column;
		gap: 8px;
		margin-top: 72px;

		.event-rsvp-button,
		.event-gift-button,
		.event-money-button {
			text-align: center;
			padding: 14px 0px;
			border: 1px solid #d0d5dd;
			border-radius: 100px;
			font-weight: 500;
			display: flex;
			align-items: center;
			justify-content: center;
			@include textStyle.ebGaramondMedium(16px, 22px);
			gap: 8px;
		}

		.event-gift-button,
		.event-money-button {
			background: white;
		}
	}

	.event-rsvp-button {
		background-color: $color-emerald;
		color: white;
	}
}

.edit-hosts {
	textarea {
		text-align: center;
		font-size: 14px;
		line-height: 20px;
		letter-spacing: 0.025em;
		border: none;
		text-align: center;
		text-transform: uppercase;
		width: 100%;
		font-family: 'EB Garamond', serif;
	}
}

.edit-greeting-content {
	textarea {
		text-align: center;
		font-size: 16px;
		font-weight: 400;
		letter-spacing: 0.025em;
		font-family: 'EB Garamond', serif;
	}
}

.edit-event-title2 {
	textarea {
		font-weight: 500;
		text-transform: uppercase;
		text-align: center;
		letter-spacing: 1px;
		padding: 0px 8px;
		font-size: 18px;
		font-family: 'EB Garamond', serif;
	}
}
