/** @format */

@font-face {
	font-family: 'Lora';
	src: url('../assets/LoraFamily/Lora-Regular.ttf');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Lora Bold';
	src: url('../assets/LoraFamily/Lora-Bold.ttf');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Playfair Display';
	src: url('../assets/PlayfairDisplay/PlayfairDisplay-Regular.otf');
	font-weight: 400;
	font-style: normal;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
		Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
}
