/** @format */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@font-face {
	font-family: 'Lora';
	src: url('../assets/LoraFamily/Lora-Regular.ttf');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Lora Bold';
	src: url('../assets/LoraFamily/Lora-Bold.ttf');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Playfair Display';
	src: url('../assets/PlayfairDisplay/PlayfairDisplay-Regular.otf');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'EB Garamond';
	src: url('../assets/EBGaramond/EBGaramond-VariableFont_wght.ttf');
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
		Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	overflow-x: hidden;
}

main {
	min-height: 100vh;
}
a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
}

.loading-overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #0e7f6e; /* Semi-transparent black background */
	z-index: 9999; /* Ensure the overlay appears on top of other elements */
}

.loading-text {
	animation: rotating 20s infinite linear forwards;
}

@keyframes rotating {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
