/** @format */

@use './stylesType';
$diorGrey: #1e1e1e;

.floatingMusicButton {
	margin-top: 20px;
	width: 45px;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	color: white;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.124);
	background: #00000040;
	position: fixed;
	bottom: 30px;
	z-index: 1;
	right: auto;
	left: 80vw;
	cursor: pointer;
}

@mixin textDecoration600($fontSize, $fontHeight, $letterSpacing) {
	@include stylesType.loraBold($fontSize, $fontHeight);
	letter-spacing: $letterSpacing !important;
	text-transform: uppercase;
	color: $diorGrey;
}

@mixin textDecoration400($fontSize, $fontHeight, $letterSpacing) {
	@include stylesType.loraRegular($fontSize, $fontHeight);
	letter-spacing: $letterSpacing !important;
	text-transform: uppercase;
	color: $diorGrey;
}

@mixin playfairText500($fontSize, $fontHeight, $letterSpacing) {
	@include stylesType.playfair500($fontSize, $fontHeight);
	letter-spacing: $letterSpacing;
	text-transform: uppercase;
	color: $diorGrey;
}

@mixin playfairText400($fontSize, $fontHeight, $letterSpacing) {
	@include stylesType.playfair400($fontSize, $fontHeight);
	letter-spacing: $letterSpacing;
	text-transform: uppercase;
	color: $diorGrey;
}

.invite-canvas {
	width: 100%;
	display: flex;
	justify-content: center;

	.invite-card {
		border-radius: 0px;
		margin-top: 18px;
		margin-bottom: 24px;
		width: min(600px, 100%);
		display: flex;
		justify-content: center;
		flex-direction: column;
		box-shadow: -5px 14px 25px 0px #0000001a;

		@media screen and (max-width: 600px) {
			box-shadow: none;
			margin-top: 0px;
			margin-bottom: 0px;
		}
	}
}

/////////////////////////////////////Top Card
.invite-canvas .invite-card-top {
	text-align: center;
	padding: 40px 0px 80px 0px;

	.event-title-1 {
		margin: 10px 0px;
		@include playfairText500(16px, 22px, 0.1em);
	}

	.header-image {
		margin-top: 8px;
		img {
			// border-top-right-radius: 30%;
			// border-top-left-radius: 30%;
			border-radius: 0px;
			width: min(400px, 90%);
		}
	}
}

/////////////////////////////////////Middle Card
.invite-canvas .invite-card-middle {
	text-align: center;
	border-top: 1px solid #e4e7ec;
	border-bottom: 1px solid #e4e7ec;
	padding: 80px 8px;

	.guest-name {
		@include playfairText500(21px, 26px, 0.035em);
		margin: 24px 0px;
	}

	.invite-text {
		@include playfairText400(15px, 19px, 0.035em);
		margin-bottom: 16px;
	}

	.event-title-1-b {
		@include textDecoration400(20px, 26px, 0.035em);
		margin-bottom: 16px;
	}

	.event-title-2 {
		@include playfairText500(24px, 32px, 0.035em);
		margin-bottom: 24px;
	}

	.event-description {
		//styleName: Text Small/Regular;
		font-family: Source Sans Pro;
		font-size: 15px;
		font-weight: 400;
		line-height: 20px;
		letter-spacing: 0em;
		text-align: center;
		color: #667085;
		margin: 24px 24px 20px 24px;

		@media screen and (max-width: 600px) {
			margin: 24px 10px 20px 10px;
		}
	}

	.event-information {
		display: flex;
		flex-direction: column;
		gap: 8px;
		@include textDecoration400(14px, 19px, 00.035em);

		.event-location {
			display: flex;
			justify-content: center;
			div {
				max-width: 300px;
			}
		}
	}
}

//////////////////////Hosted by
.invite-canvas .invite-card-hosted-by {
	display: flex;
	flex-direction: column;
	gap: 8px;
	justify-content: center;
	align-items: center;
	padding: 40px 8px;
	border-bottom: 1px solid #e4e7ec;

	.hosted-by {
		@include textDecoration400(14px, 21px, 0.01em);
	}

	.host {
		@include playfairText500(19px, 26px, 0.06em);
		max-width: min(300px, 80vw);
		text-align: center;
		margin: 8px 0px;
	}
}

.floatingButton {
	display: none;
	@media screen and (max-width: 600px) {
		margin-top: 20px;
		width: 65px;
		height: 65px;
		display: flex;
		align-items: center;
		justify-content: center;
		background: #1e1e1ef1;
		border-radius: 12px;
		color: white;
		box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.35);
		position: fixed;
		bottom: 30px;
		z-index: 1100;
		right: auto;
		left: 77vw;
		cursor: pointer;
	}
}
