/** @format */
@use './stylesType';
@use './textStyle';

$grey700: rgba(55, 63, 71, 1);
$grey600: rgba(79, 91, 103, 1);
$grey400: rgba(152, 162, 179, 1);
$grey500: #667085;
$grey900: #1e1e1e;
$grey6005: rgba(79, 91, 103, 0.5);
$darkGrey: rgba(29, 70, 72, 1);
$diorGrey: #1e1e1e;

.money-gift {
	padding: 30px 12px 0px 12px;
	.top-section {
		.title {
			margin-top: 20px;
			@include stylesType.loraBold(24px, 30px);
			color: $darkGrey;
			text-transform: uppercase;
		}

		.description {
			margin-top: 15px;
			@include stylesType.loraRegular(14px, 18px);
			color: $darkGrey;
			width: 90%;
		}
	}
}

.qr-modal-content {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;

	img {
		width: 266x;
		height: 244px;
		border: 1px solid rgba(0, 0, 0, 0.205);
	}
}

.rsvp-money-detail {
	margin-top: 20px;
	padding: 20px;
	border: 1px solid #d0d5dd;
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	gap: 18px;

	.rsvp-money-name {
		display: flex;
		align-items: center;
		gap: 8px;
		text-transform: uppercase;
		flex-wrap: wrap;

		.money-title {
			@include stylesType.loraRegular(14px, 18px);
			color: #1d4648;
		}

		.money-value {
			@include stylesType.loraBold(16px, 20px);
			color: #1d4648;
		}
	}

	.account-no {
		.money-value {
			text-decoration: underline;
			@include stylesType.loraBold(16px, 20px);
		}
	}

	.qr-code {
		margin-top: 12px;
		padding: 12px 16px;
		border: 1px solid black;
		border-radius: 20px;
		display: flex;
		width: 200px;
		gap: 8px;
		justify-content: center;
		align-items: center;
		@include stylesType.loraRegular(14px, 18px);
		color: #1d4648;
		text-transform: uppercase;
		cursor: pointer;

		@media screen and (max-width: 900px) {
			width: 100%;
		}
	}
}

.image-2 {
	max-width: 860px;

	@media screen and (max-width: 900px) {
		max-width: 90vw;
	}
}

.rsvp-main {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	box-sizing: border-box;
	padding-bottom: 56px;

	.main-desc {
		margin-top: 20px;
		text-align: center;
		width: 100%;

		.invite-text {
			@include stylesType.loraRegular(16px, 21px);
			color: $grey700;
			padding: 10px;
		}

		.background-image {
			display: flex;
			justify-content: center;
			margin: 15px 0px;
			.image {
				// width: min(564px, 100%);
				width: 100%;
				height: 400px;
				background-size: cover;
				background-position: center;

				@media screen and (max-width: 900px) {
					height: 200px;
				}
			}
		}

		.walimatul-text {
			@include stylesType.loraRegular(20px, 26px);
			color: $grey600;
			padding: 10px 0px;
			width: 100%;
			border-top: 1px solid $grey6005;
			border-bottom: 1px solid $grey6005;
			text-transform: uppercase;
		}

		.bride-groom {
			@include stylesType.playfair(32px, 42px);
			color: $darkGrey;
			padding: 10px 0px 20px 0px;
			text-transform: uppercase;
			display: flex;
			gap: 8px;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
		}

		.wedding-date {
			@include stylesType.loraRegular(16px, 20px);
			padding: 10px 0px;
			border-top: 1px solid $grey6005;
			border-bottom: 1px solid $grey6005;
			color: $grey700;
			// text-transform: uppercase;
		}

		.wedding-detail {
			display: flex;
			justify-content: center;
			width: 100%;
			padding: 15px 0px;

			.wedding-detail-text {
				width: min(483px, 95%);
				text-align: center;
				@include stylesType.loraRegular(16px, 17px);
				color: $grey500;
			}
		}

		.hosted-by {
			border-top: 1px dotted $grey600;
			border-bottom: 1px dotted $grey600;
			padding: 15px 0px;
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 10px;

			.top-text {
				@include stylesType.loraRegular(14px, 21px);
				color: $darkGrey;
				text-transform: uppercase;
			}

			.parent {
				@include stylesType.loraRegular(14px, 22px);
				text-transform: uppercase;
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				row-gap: 2px;
				column-gap: 6px;
				width: min(300px, 100%);
				color: $grey500;
			}
		}
	}

	.buttons-area {
		display: flex;
		flex-direction: column;
		gap: 10px;
		width: 100%;
		padding: 20px 16px;

		@media screen and (max-width: 900px) {
			padding: 20px 8px;
		}

		.default-button {
			flex: 1;
			padding: 15px;
			cursor: pointer;
			flex: 1;
			width: 100%;
			border-radius: 30px;
			box-sizing: border-box;
			text-align: center;
			@include stylesType.loraRegular(20px, 25px);
			border: 1px solid $grey900;
			text-transform: uppercase;
			display: flex;
			gap: 10px;
			align-items: center;
			justify-content: center;
			background: white;
		}

		.rsvp-buttons {
			display: flex;
			flex-direction: row;
			gap: 10px;
			@media screen and (max-width: 900px) {
				flex-direction: column;
			}

			.before-button {
				color: white;
				background: $grey900;
			}
		}

		.gift-button {
			color: $grey900;
			background: white;
			display: flex;
			gap: 10px;
			align-items: center;
			justify-content: center;
		}
	}

	// .buttons-section {
	// 	width: 100%;
	// 	display: flex;
	// 	align-items: center;
	// 	gap: 10px;
	// 	margin-top: 15px;

	// 	@media screen and (max-width: 900px) {
	// 		flex-direction: column;
	// 	}

	// 	.rsvp-button,
	// 	.guest-button {
	// 		cursor: pointer;
	// 		flex: 1;
	// 		width: 100%;
	// 		border-radius: 20px;
	// 		box-sizing: border-box;
	// 		padding: 10px;
	// 		text-align: center;
	// 		@include stylesType.loraRegular(20px, 25px);
	// 		border: 1px solid $grey900;
	// 		text-transform: uppercase;
	// 	}

	// 	// .guest-button {
	// 	// 	opacity: 0.1;
	// 	// }

	// 	.rsvp-button {
	// 		color: white;
	// 		background: $grey900;
	// 	}

	// 	.guest-button {
	// 		color: $grey900;
	// 	}
	// }

	.wedding-more-details {
		margin-top: 20px;
		width: 100%;
	}
}

.rsvp-guest {
	padding: 30px 5px 0px 5px;
	.top-section {
		.title {
			margin-top: 20px;
			@include stylesType.loraBold(24px, 30px);
			color: $darkGrey;
			text-transform: uppercase;
		}
	}

	.input-section {
		padding: 40px 0px;
		display: flex;
		flex-direction: column;
		gap: 22px;
		width: 100%;

		.full-name,
		.phone-number {
			input {
				width: 100%;
				background: none;
				border: none;
				border-radius: 0px;
				border-bottom: 1px solid $grey400;
				padding: 10px 0px;
				@include stylesType.loraRegular(16px, 18px);
				color: $darkGrey;
				outline: none;
				text-transform: uppercase;
			}
		}

		.rsvp-input,
		.pax-input,
		.wish-input {
			.name {
				@include stylesType.loraRegular(16px, 18px);
				color: $grey600;
			}
		}

		.rsvp-input {
			.rsvp-buttons {
				display: flex;
				gap: 10px;
				align-items: center;
				margin-top: 7px;

				.yes-button,
				.no-button {
					text-align: center;
					padding: 10px;
					flex: 1;
					@include stylesType.loraRegular(16px, 21px);
					border: 1px solid $grey400;
					border-radius: 20px;
				}

				.yes-button {
					color: white;
					background: $diorGrey;
				}

				.no-button {
					color: $darkGrey;
					cursor: pointer;
				}
			}
		}

		.wish-input {
			textarea {
				margin-top: 7px;
				border: 1px solid $grey400;
				border-radius: 7px;
				min-height: 100px;
				width: 100%;
				box-sizing: border-box;
				padding: 5px 10px;
				@include stylesType.loraRegular(16px, 18px);
			}
		}

		.pax-input {
			display: flex;
			justify-content: space-between;
			align-items: center;

			.pax-buttons {
				display: flex;
				gap: 15px;
				align-items: center;

				.pax-value {
					@include stylesType.loraBold(16px, auto);
					width: 25px;
					text-align: center;
				}

				.minus,
				.plus {
					border: 1px solid $grey400;
					@include stylesType.loraRegular(20px, auto);
					width: 27px;
					height: 27px;
					text-align: center;
					display: flex;
					align-items: center;
					justify-content: center;
					border-radius: 5px;
					color: $grey400;
					cursor: pointer;
				}
			}
		}
	}

	.submit-section {
		width: 100%;
		display: flex;
		justify-content: center;

		.submit-button {
			position: relative;
			padding: 12px;
			text-align: center;
			box-sizing: border-box;
			width: min(340px, 100%);
			border-radius: 40px;
			color: white;
			background: $diorGrey;
			@include stylesType.loraBold(16px, auto);
			cursor: pointer;
		}
	}
}

.rsvp-thankyou {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 35px 0px;

	.top-section {
		@include stylesType.loraRegular(28px, 32px);
		text-transform: uppercase;
		padding-bottom: 12px;
		border-bottom: 1px solid $grey400;
		text-align: center;
		color: $darkGrey;
	}

	.top-detail {
		text-align: center;
		padding: 12px 0px;
		border-bottom: 1px solid $grey400;
		text-transform: uppercase;
		@include stylesType.loraRegular(20px, 26px);
		color: $darkGrey;
	}

	.background-image {
		display: flex;
		justify-content: center;
		margin: 15px 0px;
		.image {
			width: min(564px, 100%);
			height: 290px;
			background-size: cover;
			background-position: center;
		}
	}

	.rsvp-detail {
		border-top: 1px solid $grey400;
		border-bottom: 1px solid $grey400;
		padding: 10px 0px;
		text-align: center;
		@include stylesType.loraRegular(16px, 21px);
		text-transform: uppercase;
		color: $grey700;
	}

	.add-calendar {
		margin-top: 20px;
		.add-to-calendar {
			width: min(400px, 100%);
			text-align: center;
			padding: 15px;
			box-sizing: border-box;
			@include stylesType.loraRegular(16px, 21px);
			color: $grey600;
			text-transform: uppercase;
			border: 1px solid $grey400;
			border-radius: 25px;
			cursor: pointer;
		}
	}

	.send-gift-button {
		width: min(400px, 100%);
		margin-top: 10px;
		text-align: center;
		padding: 13px;
		background: white;
		@include stylesType.loraRegular(16px, 21px);
		color: $grey600;
		text-transform: uppercase;
		border: 1px solid $grey400;
		border-radius: 25px;
		display: flex;
		gap: 10px;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		box-sizing: border-box;
	}

	.home-button {
		margin-top: 10px;

		.button {
			width: min(400px, 100%);
			text-align: center;
			padding: 15px;
			box-sizing: border-box;
			@include stylesType.loraRegular(16px, 21px);
			color: white;
			background: $diorGrey;
			text-transform: uppercase;
			border: 1px solid $grey400;
			border-radius: 25px;
			cursor: pointer;
		}
	}
}

.gift-registry {
	padding: 30px 12px 0px 12px;
	.top-section {
		.title {
			margin-top: 20px;
			@include stylesType.loraBold(24px, 30px);
			color: $darkGrey;
			text-transform: uppercase;
		}

		.description {
			margin-top: 15px;
			@include stylesType.loraRegular(14px, 18px);
			color: $darkGrey;
			width: 90%;
		}
	}

	.gift-list {
		margin-top: 25px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		gap: 30px;
		padding-top: 5px;
		padding-bottom: 30px;

		@media screen and (max-width: 900px) {
			gap: 20px;
			padding-right: 10px;
		}
	}

	.white-fade {
		width: 100%;
		height: 40px;
		background: white;
		transform: translateY(-25px);
		filter: blur(10px);
	}

	.gift-card {
		width: 200px;
		height: 320px;
		display: flex;
		flex-direction: column;
		gap: 5px;
		cursor: pointer;

		.gift-image {
			width: 100%;
			border: 0.5px solid $grey400;
			height: 220px;
			background-position: center;
		}

		.gift-category {
			@include textStyle.regular(13px, 15px);
			text-transform: capitalize;
			color: $darkGrey;
		}
		.gift-name {
			@include stylesType.loraRegular(14px, 18px);
			color: $darkGrey;
			margin-top: 3px;
		}

		.gift-reserved {
			@include textStyle.regular(15px, 18px);
			text-transform: uppercase;
			color: $grey400;
		}
	}
}

.gift-reserve {
	padding: 30px 12px 20px 12px;

	.top-section {
		.title {
			margin-top: 20px;
			@include stylesType.loraBold(24px, 30px);
			color: $darkGrey;
			text-transform: uppercase;
		}

		.description {
			margin-top: 15px;
			@include stylesType.loraRegular(14px, 18px);
			color: $darkGrey;
			width: 90%;
		}
	}

	.content-section {
		padding-top: 40px;
		padding-bottom: 20px;
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		flex-direction: column;
		// height: min(72vh, 550px);

		@media screen and (max-width: 900px) {
			padding-top: 50px;
			flex-direction: column;
			justify-content: space-between;
		}
	}

	.gift-card {
		width: 300px;
		height: 360px;
		display: flex;
		flex-direction: column;
		gap: 8px;
		cursor: pointer;

		.gift-image {
			width: 100%;
			border: 0.5px solid $grey400;
			height: 300px;
			background-position: center;
		}
		.gift-name {
			@include stylesType.loraRegular(20px, 25px);
			color: $darkGrey;
			margin-top: 3px;
		}

		.gift-reserved {
			@include textStyle.regular(15px, 18px);
			text-transform: uppercase;
			color: $grey400;
		}
	}

	.input-section {
		width: 100%;
		.instruction {
			@include stylesType.loraRegular(16px, 21px);
			color: $grey600;
			text-transform: uppercase;
		}

		input {
			margin-top: 5px;
			border: none;
			border-bottom: 1px solid $darkGrey;
			border-radius: 0px;
			width: 100%;
			box-sizing: border-box;
			@include stylesType.loraRegular(14px, 18px);
			color: $grey900;
			outline: none;
			padding: 10px 0px;
		}
	}

	.buttons {
		width: 100%;
		text-align: center;
		align-items: center;
		margin-top: 32px;
		display: flex;
		flex-direction: column;
		gap: 6px;
		.reserve-button,
		.cancel-button {
			cursor: pointer;
			padding: 17px;
			box-sizing: border-box;
			@include stylesType.loraRegular(16px, 21px);
			width: min(400px, 100%);
			text-align: center;
			text-transform: uppercase;
			border-radius: 50px;
			border: 1px solid $diorGrey;
			margin: 16px 0px;
		}

		.reserve-button {
			color: white;
			background: $diorGrey;
		}

		.cancel-button {
			color: $diorGrey;
		}

		.view-shop-button {
			margin-top: 12px;
			text-transform: uppercase;
			@include stylesType.loraRegular(16px, 21px);
			color: $diorGrey;
			cursor: pointer;
			text-decoration: underline;
		}
	}
}

.giftModal {
	padding: 15px;
	box-sizing: border-box;
	width: min(400px, 90vw);

	.top-modal {
		padding-top: 15px;
		padding-bottom: 5px;
		gap: 12px;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		border-bottom: 1px solid $grey400;

		.text-top {
			@include stylesType.loraRegular(15px, 20px);
			color: $darkGrey;
			text-transform: uppercase;
			width: 85%;
			margin: 10px 0px 5px 0px;
			text-align: center;
		}

		.smol-text {
			@include stylesType.loraRegular(15px, 20px);
			color: $darkGrey;
			margin: 10px 0px;
			text-align: center;
		}
	}

	.bottom-modal {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		gap: 20px;
		padding-top: 20px;
		text-align: center;

		.note {
			@include stylesType.loraItalic(14px, 18px);
			color: $darkGrey;
			width: 90%;
		}

		.thankyou-text {
			@include stylesType.loraRegular(20px, 25px);
			color: $darkGrey;
			text-transform: uppercase;
			width: 90%;
			text-align: center;
			padding: 6px 0px;
		}

		.cancel-input {
			width: 100%;
			textarea {
				width: 95%;
				box-sizing: border-box;
				min-height: 90px;
				border-radius: 10px;
				border: 1px solid $grey400;
				padding: 10px;
				@include stylesType.loraRegular(16px, 21px);
				color: $darkGrey;
			}
		}

		.buttons {
			display: flex;
			gap: 10px;
			width: 100%;

			.cancel-button,
			.confirm-button {
				cursor: pointer;
				width: 100%;
				flex: 1;
				padding: 15px;
				border-radius: 30px;
				@include stylesType.loraRegular(16px, 21px);
				text-transform: uppercase;
				border: 1px solid $grey400;
			}

			.confirm-button {
				color: white;
				background: $diorGrey;
			}
		}
	}
}

.rsvp-buttons-2 {
	display: flex;
	flex-wrap: wrap;
	gap: 16px;
	justify-content: space-around;
	flex-direction: column;
	padding: 10px;

	.rsvp-button-2 {
		flex: 1;
		width: 100%;
		@include stylesType.loraBold(14px, 20px);
		color: #1d4648;
		text-transform: uppercase;
		border: 1px solid #f1bfbe;
		border-radius: 30px;
		text-align: center;
		padding: 15px;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 4px;
		cursor: pointer;
	}
}

.goingModal-card {
	padding: 10px 15px;
	box-sizing: border-box;
	width: min(600px, 90vw);

	.top-modal {
		padding-bottom: 5px;
		gap: 8px;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		border-bottom: 1px solid $grey400;

		.close-button-area {
			display: flex;
			justify-content: flex-end;
			width: 100%;
			padding: 0px 10px;
			.close-button {
				cursor: pointer;
			}
		}

		.text-top {
			@include stylesType.loraBold(15px, 20px);
			color: #1d4648;
			text-transform: uppercase;
			width: 90%;
			text-align: center;
			padding: 10px 0px;
		}
	}

	.modal-content {
		padding: 20px 5px;
		display: flex;
		flex-direction: column;
		gap: 20px;

		.guest-info {
			display: flex;
			flex-direction: column;
			gap: 20px;
		}

		.full-name,
		.phone-number {
			input {
				margin-top: 7px;
				border: 1px solid $grey400;
				border-radius: 7px;
				width: 100%;
				box-sizing: border-box;
				height: 40px;
				padding: 5px 10px;
				@include stylesType.loraRegular(16px, 18px);
			}
		}

		.pax-input,
		.wish-input,
		.full-name,
		.phone-number {
			.name {
				@include stylesType.loraRegular(16px, 18px);
				color: $grey600;
			}
		}

		.wish-input {
			textarea {
				margin-top: 7px;
				border: 1px solid $grey400;
				border-radius: 7px;
				min-height: 100px;
				width: 100%;
				box-sizing: border-box;
				padding: 5px 10px;
				@include stylesType.loraRegular(16px, 18px);
			}
		}

		.pax-input {
			display: flex;
			justify-content: space-between;
			align-items: center;

			.pax-buttons {
				display: flex;
				gap: 15px;
				align-items: center;

				.pax-value {
					@include stylesType.loraBold(16px, auto);
					width: 25px;
					text-align: center;
				}

				.minus,
				.plus {
					border: 1px solid $grey400;
					@include stylesType.loraRegular(20px, auto);
					width: 27px;
					height: 27px;
					text-align: center;
					display: flex;
					align-items: center;
					justify-content: center;
					border-radius: 5px;
					color: $grey400;
					cursor: pointer;
				}
			}
		}
	}

	.bottom-modal {
		display: flex;
		gap: 5px;
		width: 100%;
		padding: 10px 0px;

		.cancel-button,
		.confirm-button {
			cursor: pointer;
			width: 100%;
			flex: 1;
			text-align: center;
			padding: 15px;
			border-radius: 30px;
			@include stylesType.loraRegular(16px, 21px);
			text-transform: uppercase;
			border: 1px solid $grey400;
		}

		.confirm-button {
			color: white;
			background: #1e1e1e;
		}
	}
}
